[submodule "modules/PSYaml"]
	path = modules/PSYaml
	url = https://github.com/Phil-Factor/PSYaml
[submodule "modules/Npm/npm-completion"]
	path = modules/Npm/npm-completion
	url = https://github.com/PowerShell-Completion/npm-completion.git
[submodule "modules/Npm/yarn-completion"]
	path = modules/Npm/yarn-completion
	url = https://github.com/PowerShell-Completion/yarn-completion.git
[submodule "modules/Git/posh-git"]
	path = modules/Git/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "modules/Cli/ArgParser"]
	path = modules/Cli/ArgParser
	url = https://github.com/buriedstpatrick/ArgParser
