#SingleInstance,Force

; Open Windows Terminal on Windows+Enter
#{modules.AutoHotkey.config.binds.terminal}::
    Run, #{terminal.path} #{terminal.args}
    return

; Open Slack on Super+S
LWin & s::
    Run, "${LOCALAPPDATA}\slack\slack.exe"
    return

; Stop keybinds
#{modules.AutoHotkey.config.binds.stop}::ExitApp

; Reload keybinds
#{modules.AutoHotkey.config.binds.reload}::Reload
