#SingleInstance,Force

; Open Windows Terminal on Windows+Enter
LWin & Enter::
    Run, #{terminal.path} #{terminal.args}
    return

; Stop keybinds
LWin & Q::ExitApp

; Reload keybinds
LWin & R::Reload
